body {
    background-color: rgb(243, 239, 223);
}

.head {
color: rgb(255, 255, 255);
background-color: rgb(192, 15, 15);
text-align: center;
}

img {
    width: 449px;
    height: auto;
    border-radius: 8px;
}

h3, p, ul, ol {
    background-color: rgb(192, 15, 15);
    color: white;
}